/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }

h1 {
  font-size: 3.6em;
  letter-spacing: .2em;
  font-weight: 700; }

h2 {
  font-size: 2.75em;
  font-weight: 400; }

h3 {
  font-size: 1.5em;
  font-weight: 400; }

h4 {
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .14em;
  line-height: 1.7em; }

p {
  font-size: 1em;
  letter-spacing: .03em;
  line-height: 1.7em;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  text-indent: 1.5em; }

@media screen and (min-width: 320px) {
  html {
    font-size: .5em; }

  .artist-header {
    font-size: 1.5em; }

  .content {
    font-size: 1.75em; } }
@media screen and (min-width: 400px) {
  html {
    font-size: .5em; }

  .artist-header, .content {
    font-size: 2em; }

  .nav {
    font-size: 1.5em; } }
@media screen and (min-width: 760px) {
  html {
    font-size: .6em; }

  .artist-header, .content {
    font-size: 2em; }

  .nav {
    font-size: 1.25em; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: .8em; }

  .artist-header {
    font-size: 1.5em; }

  .content {
    font-size: 1.25em; } }
@media screen and (min-width: 1143px) {
  html {
    font-size: 1em; } }
@media screen and (min-width: 1700px) {
  html {
    font-size: 1.3em; } }
@media screen and (min-width: 2300px) {
  html {
    font-size: 1.6em; } }
@media screen and (min-width: 2880px) {
  html {
    font-size: 2em; } }
@media screen and (min-width: 4000px) {
  html {
    font-size: 2.5em; } }
@media screen and (min-width: 5000px) {
  html {
    font-size: 3.5em; } }
body {
  background-color: black; }

#wrapper {
  background-color: #321325; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  background-color: #197278; }
  .sidenav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
  .sidenav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  .sidenav .closebtn {
    font-size: 4em;
    padding-left: .75em; }
  .sidenav a {
    color: #F3E9DC; }

#home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #321325; }
  #home-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #home-nav {
      display: none;
      height: 0;
      width: 0; } }
  #home-nav a {
    color: #F3E9DC; }
    #home-nav a:hover {
      color: steelblue; }

.header {
  color: #F3E9DC;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0 14em 0 14em; }
  @media screen and (max-width: 525px) {
    .header {
      padding: 1em 2em 0;
      font-size: 1.5em; } }
  .header h1 {
    margin-bottom: 2em;
    font-family: 'Unkempt', cursive;
    text-shadow: 5px 5px 1px #250E1B; }
  .header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      .header .hamburger {
        display: none;
        height: 0;
        width: 0; } }

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 4em; }
  .gallery .row {
    display: flex;
    justify-content: center;
    width: 100%; }
    @media only screen and (max-width: 625px) {
      .gallery .row {
        flex-direction: column;
        align-items: center; } }
    .gallery .row .image {
      background-color: #197278;
      height: 20em;
      width: 22em;
      border: .063em solid white; }
      @media screen and (max-width: 1023px) {
        .gallery .row .image {
          width: 27em; } }
      @media screen and (min-width: 2300px) {
        .gallery .row .image {
          width: 25em; } }
      @media screen and (max-width: 1022px) {
        .gallery .row .image {
          width: 23em; } }
      @media only screen and (max-width: 625px) {
        .gallery .row .image {
          width: 75%; } }
      @media only screen and (max-width: 1029px) {
        .gallery .row .image {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end; } }
      .gallery .row .image p {
        padding: 0 3em 2em 0;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300; }
        .gallery .row .image p a {
          text-decoration: none;
          text-shadow: 0 0 1px black;
          color: white; }
        @media screen and (min-width: 1030px) {
          .gallery .row .image p {
            padding: 0;
            opacity: 0;
            color: white;
            transition: .2s;
            text-shadow: 0 0 1px black;
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            line-height: 20em; }
            .gallery .row .image p:hover {
              opacity: 1; }
            .gallery .row .image p:after, .gallery .row .image p:before {
              z-index: -1;
              transition: .2s;
              content: "";
              background-size: cover;
              background-position: center;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6); } }
    .gallery .row #kamasi {
      background-image: url("../img/kamasi2.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 1029px) {
        .gallery .row #kamasi a {
          text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black; } }
    .gallery .row #tribe {
      background-image: url("../img/tribeminusphife.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #rihanna {
      background-image: url("../img/rihanna.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #jblake {
      background-image: url("../img/jblake.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #solange {
      background-image: url("../img/solange.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 1029px) {
        .gallery .row #solange a {
          text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; } }
      @media screen and (max-width: 415px) {
        .gallery .row #solange {
          background-position: 0 25%; } }
    .gallery .row #flume {
      background-image: url("../img/flume.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 415px) {
        .gallery .row #flume {
          background-position: 0 30%; } }
    .gallery .row #cudi {
      background-image: url("../img/cudi.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 415px) {
        .gallery .row #cudi {
          background-position: 0 12%; } }
    .gallery .row #stetsonneufeld {
      background-image: url("../img/stetsonneufeld.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 1029px) {
        .gallery .row #stetsonneufeld p {
          padding-right: .4em; } }
    .gallery .row #kendrick {
      background-image: url("../img/kendrick.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 415px) {
        .gallery .row #kendrick {
          background-position: top; }
          .gallery .row #kendrick a {
            text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; } }
    .gallery .row #damrau {
      background-image: url("../img/damrau.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 415px) {
        .gallery .row #damrau {
          background-position: top; } }
    .gallery .row #anohni {
      background-image: url("../img/anohni.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #frank {
      background-image: url("../img/frank.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 415px) {
        .gallery .row #frank {
          background-position: top; } }
    .gallery .row #chance {
      background-image: url("../img/chance.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #weeknd {
      background-image: url("../img/weeknd.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #joanna {
      background-image: url("../img/joanna.png");
      background-position: center;
      background-size: cover; }
      @media screen and (max-width: 1029px) {
        .gallery .row #joanna a {
          text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; }
        .gallery .row #joanna p {
          padding-right: 1em; } }

#maya-wrapper {
  background-color: #B3DEAF; }

#maya-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #B3DEAF; }
  #maya-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #maya-nav {
      display: none;
      height: 0;
      width: 0; } }
  #maya-nav a {
    color: #660000; }
    #maya-nav a:hover {
      color: #17BEBB; }
  @media screen and (max-width: 524px) {
    #maya-nav {
      display: none;
      height: 0;
      width: 0; } }

.link {
  padding: 2em 0 0 2em; }
  .link a {
    color: #52238C;
    text-decoration: none;
    font-family: serif;
    font-size: 1.3em;
    font-family: 'Tulpen one', cursive;
    font-size: 2.500em; }
    .link a:hover {
      color: #804A11; }

.m-header {
  text-align: center; }
  .m-header h1 {
    color: #36151E;
    padding-bottom: 0.5em;
    font-family: 'Unkempt', cursive; }
  .m-header h4 {
    color: #660000;
    line-height: 1.5em;
    font-family: 'Yellowtail', cursive;
    font-size: 1.875em; }

.graphboxythingy {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.2em; }
  .graphboxythingy .column {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .graphboxythingy .column .box {
      width: 18.97em;
      height: 18.97em;
      background-color: #247BA0;
      border: 2px solid #EBBAB9; }
      .graphboxythingy .column .box img {
        height: 100%;
        width: 100%; }
    .graphboxythingy .column #vice, .graphboxythingy .column #alive {
      background-image: url("../img/Vice - EP.png");
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: #FFF100;
      text-shadow: 2px 2px 2px black; }
      .graphboxythingy .column #vice p, .graphboxythingy .column #alive p {
        font-size: 1.3em; }
    .graphboxythingy .column #runthisplace {
      background-image: url("../img/Run this place - single.png");
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: #FFF100;
      text-shadow: 2px 2px 2px black;
      text-align: center; }
      .graphboxythingy .column #runthisplace p {
        font-size: 1.3em; }
      .graphboxythingy .column #runthisplace #youtube1 #youtube2 {
        color: #FFF100;
        text-shadow: 2px 2px 2px black;
        height: 100%;
        width: 100%; }

.cat {
  color: #473AAA;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .cat p {
    font-family: 'Yellowtail', cursive; }

#k-wrapper {
  background-color: #976023; }

#k-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  background-color: #261603; }
  #k-mobile-nav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
  #k-mobile-nav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  #k-mobile-nav .closebtn {
    font-size: 4em;
    padding-left: .75em; }
  #k-mobile-nav a {
    color: #976023; }

#k-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #976023; }
  #k-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #k-nav {
      display: none;
      height: 0;
      width: 0; } }
  #k-nav a {
    color: #261603; }
    #k-nav a:hover {
      color: steelblue; }

#k-header {
  margin: 5em 0 3em 3em;
  color: #261603; }
  @media screen and (max-width: 600px) {
    #k-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0; } }
  @media screen and (max-width: 525px) {
    #k-header {
      margin-top: 0; } }
  #k-header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .2em; }
  #k-header .song {
    font-family: 'Raleway', sans-serif;
    margin-bottom: .2em;
    font-size: 1.75em; }
    #k-header .song span {
      font-weight: 300;
      font-size: .6em; }
      #k-header .song span em {
        font-style: italic; }
  #k-header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      #k-header .hamburger {
        display: none;
        height: 0;
        width: 0; } }

#k-content {
  height: auto;
  margin: 0 3em 0em 3em;
  padding-bottom: 5em;
  color: #261603; }
  #k-content img {
    height: auto;
    width: 30vw;
    float: left;
    margin-right: 1.5em;
    border-radius: 3px; }
    @media screen and (max-width: 1024px) {
      #k-content img {
        width: 40vw; } }
    @media screen and (max-width: 600px) {
      #k-content img {
        display: flex;
        margin: 0 0 2em;
        width: 100%;
        float: none; } }
  @media screen and (max-width: 600px) {
    #k-content {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 435px) {
    #k-content {
      margin: 0 1.5em 0 1.5em; } }

#t-wrapper {
  background-color: #7392FE; }

#t-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  background-color: #0A0509; }
  #t-mobile-nav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
  #t-mobile-nav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  #t-mobile-nav .closebtn {
    font-size: 4em;
    padding-left: .75em; }
  #t-mobile-nav a {
    color: #AC80A0; }

#t-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #7392FE; }
  #t-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #t-nav {
      display: none;
      height: 0;
      width: 0; } }
  #t-nav a {
    color: #0A0509; }
    #t-nav a:hover {
      color: #AC80A0; }

#t-header {
  margin: 5em 0 3em 3em;
  color: #0A0509; }
  @media screen and (max-width: 600px) {
    #t-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0; } }
  @media screen and (max-width: 525px) {
    #t-header {
      margin-top: 0; } }
  #t-header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .2em; }
  #t-header .song {
    font-family: 'Raleway', sans-serif;
    margin-bottom: .2em;
    font-size: 1.75em; }
    #t-header .song span {
      font-weight: 300;
      font-size: .6em; }
      #t-header .song span em {
        font-style: italic; }
  #t-header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      #t-header .hamburger {
        display: none;
        height: 0;
        width: 0; } }
  @media screen and (max-width: 600px) {
    #t-header #we-the-people {
      text-align: center;
      margin: 0 2em 0; } }

#t-content {
  height: auto;
  margin: 0 3em 0em 3em;
  padding-bottom: 5em;
  color: #0A0509; }
  #t-content img {
    height: auto;
    width: 30vw;
    float: left;
    margin-right: 1.5em;
    border-radius: 3px; }
    @media screen and (max-width: 1024px) {
      #t-content img {
        width: 40vw; } }
    @media screen and (max-width: 600px) {
      #t-content img {
        display: flex;
        margin: 0 0 2em;
        width: 100%;
        float: none; } }
  @media screen and (max-width: 600px) {
    #t-content {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 435px) {
    #t-content {
      margin: 0 1.5em 0 1.5em; } }

#r-wrapper {
  background-color: #030726; }

#r-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  background-color: #B94399; }
  #r-mobile-nav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
  #r-mobile-nav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  #r-mobile-nav .closebtn {
    font-size: 4em;
    padding-left: .75em; }
  #r-mobile-nav a {
    color: #030726; }

#r-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #030726; }
  #r-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #r-nav {
      display: none;
      height: 0;
      width: 0; } }
  #r-nav a {
    color: #5F829C; }
    #r-nav a:hover {
      color: #B94399; }

#r-header {
  margin: 5em 0 3em 3em;
  color: #5F829C; }
  @media screen and (max-width: 600px) {
    #r-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0; } }
  @media screen and (max-width: 525px) {
    #r-header {
      margin-top: 0; } }
  #r-header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .2em; }
  #r-header .song {
    font-family: 'Raleway', sans-serif;
    margin-bottom: .2em;
    font-size: 1.75em; }
    #r-header .song span {
      font-weight: 300;
      font-size: .6em; }
      #r-header .song span em {
        font-style: italic; }
  #r-header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      #r-header .hamburger {
        display: none;
        height: 0;
        width: 0; } }

#r-content {
  height: auto;
  margin: 0 3em 0em 3em;
  padding-bottom: 5em;
  color: #5F829C; }
  #r-content img {
    height: auto;
    width: 30vw;
    float: left;
    margin-right: 1.5em;
    border-radius: 3px; }
    @media screen and (max-width: 1024px) {
      #r-content img {
        width: 40vw; } }
    @media screen and (max-width: 600px) {
      #r-content img {
        display: flex;
        margin: 0 0 2em;
        width: 100%;
        float: none; } }
  @media screen and (max-width: 600px) {
    #r-content {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 435px) {
    #r-content {
      margin: 0 1.5em 0 1.5em; } }

#b-wrapper {
  background-color: #010101; }

#b-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  background-color: #0200C2; }
  #b-mobile-nav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
  #b-mobile-nav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  #b-mobile-nav .closebtn {
    font-size: 4em;
    padding-left: .75em; }
  #b-mobile-nav a {
    color: #C89682; }

#b-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  background-color: #010101; }
  #b-nav a {
    font-family: 'Satisfy', cursive;
    text-decoration: none; }
  @media screen and (max-width: 524px) {
    #b-nav {
      display: none;
      height: 0;
      width: 0; } }
  #b-nav a {
    color: #9999A1; }
    #b-nav a:hover {
      color: #0200C2; }

#b-header {
  margin: 5em 0 3em 3em;
  color: #9999A1; }
  @media screen and (max-width: 600px) {
    #b-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0; } }
  @media screen and (max-width: 525px) {
    #b-header {
      margin-top: 0; } }
  #b-header h2 {
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .2em; }
  #b-header .song {
    font-family: 'Raleway', sans-serif;
    margin-bottom: .2em;
    font-size: 1.75em; }
    #b-header .song span {
      font-weight: 300;
      font-size: .6em; }
      #b-header .song span em {
        font-style: italic; }
  #b-header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      #b-header .hamburger {
        display: none;
        height: 0;
        width: 0; } }

#b-content {
  height: auto;
  margin: 0 3em 0em 3em;
  padding-bottom: 5em;
  color: #9999A1; }
  #b-content img {
    height: auto;
    width: 30vw;
    float: left;
    margin-right: 1.5em;
    border-radius: 3px; }
    @media screen and (max-width: 1024px) {
      #b-content img {
        width: 40vw; } }
    @media screen and (max-width: 600px) {
      #b-content img {
        display: flex;
        margin: 0 0 2em;
        width: 100%;
        float: none; } }
  @media screen and (max-width: 600px) {
    #b-content {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 435px) {
    #b-content {
      margin: 0 1.5em 0 1.5em; } }

/*# sourceMappingURL=main.css.map */
