/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }

h1 {
  font-size: 3.6em;
  font-family: 'Unkempt', cursive;
  letter-spacing: .2em;
  font-weight: 700; }

h2 {
  font-size: 2.827em;
  font-family: 'Unkempt', cursive;
  letter-spacing: .2em;
  font-weight: 700; }

h3 {
  font-size: 1.5em;
  font-family: 'Satisfy', cursive;
  letter-spacing: .1em; }

h4 {
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  letter-spacing: .2em;
  line-height: 1em; }

p {
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  letter-spacing: .14em;
  line-height: 1.7em; }

@media screen and (min-width: 320px) {
  html {
    font-size: .5em; } }
@media screen and (min-width: 760px) {
  html {
    font-size: .6em; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: .8em; } }
@media screen and (min-width: 1143px) {
  html {
    font-size: 1em; } }
@media screen and (min-width: 1700px) {
  html {
    font-size: 1.3em; } }
@media screen and (min-width: 2300px) {
  html {
    font-size: 1.6em; } }
@media screen and (min-width: 2880px) {
  html {
    font-size: 2em; } }
@media screen and (min-width: 4000px) {
  html {
    font-size: 2.5em; } }
@media screen and (min-width: 5000px) {
  html {
    font-size: 3.5em; } }
body {
  background-color: #321325; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #197278;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em; }
  .sidenav a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #F3E9DC;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive; }
    .sidenav a:hover, .sidenav a:active {
      color: #7E4B0A; }
  .sidenav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em; }
  .sidenav .closebtn {
    font-size: 4em;
    padding-left: .75em; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #321325;
  color: #F3E9DC;
  margin: 3em 0 1em 0;
  padding: 0 3em 0; }
  .nav a {
    color: #F3E9DC;
    text-decoration: none; }
    .nav a:hover {
      color: steelblue; }
  @media screen and (max-width: 524px) {
    .nav {
      display: none;
      height: 0;
      width: 0; } }

.header {
  color: #F3E9DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0 14em 0 14em; }
  @media screen and (max-width: 525px) {
    .header {
      padding: 1em 2em 0; } }
  .header h1 {
    margin-bottom: 2em; }
  .header .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer; }
    @media screen and (min-width: 525px) {
      .header .hamburger {
        display: none;
        height: 0;
        width: 0; } }

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 4em; }
  .gallery .row {
    display: flex;
    justify-content: center;
    width: 100%; }
    @media only screen and (max-width: 625px) {
      .gallery .row {
        flex-direction: column;
        align-items: center; } }
    .gallery .row .image {
      background-color: #197278;
      height: 20em;
      width: 22em;
      border: .063em solid white; }
      @media screen and (max-width: 1023px) {
        .gallery .row .image {
          width: 27em; } }
      @media screen and (min-width: 2300px) {
        .gallery .row .image {
          width: 25em; } }
      @media screen and (max-width: 1022px) {
        .gallery .row .image {
          width: 23em; } }
      @media only screen and (max-width: 625px) {
        .gallery .row .image {
          width: 75%; } }
      .gallery .row .image p {
        opacity: 0;
        color: white;
        transition: .2s;
        text-shadow: 0 0 1px black;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        line-height: 20em; }
        .gallery .row .image p:hover {
          opacity: 1; }
        .gallery .row .image p:after, .gallery .row .image p:before {
          z-index: -1;
          transition: .2s;
          content: "";
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6); }
    .gallery .row #kamasi {
      background-image: url("../img/kamasi2.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #tribe {
      background-image: url("../img/tribeminusphife.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #rihanna {
      background-image: url("../img/rihanna.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #jblake {
      background-image: url("../img/jblake.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #solange {
      background-image: url("../img/solange.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #flume {
      background-image: url("../img/flume.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #cudi {
      background-image: url("../img/cudi.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #stetsonneufeld {
      background-image: url("../img/stetsonneufeld.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #kendrick {
      background-image: url("../img/kendrick.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #damrau {
      background-image: url("../img/damrau.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #anohni {
      background-image: url("../img/anohni.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #frank {
      background-image: url("../img/frank.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #chance {
      background-image: url("../img/chance.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #weeknd {
      background-image: url("../img/weeknd.png");
      background-position: center;
      background-size: cover; }
    .gallery .row #joanna {
      background-image: url("../img/joanna.png");
      background-position: center;
      background-size: cover; }

.wrapper {
  background-color: #B3DEAF; }

.link {
  padding: 2em 0 0 2em; }
  .link a {
    color: #52238C;
    text-decoration: none;
    font-family: serif;
    font-size: 1.3em;
    font-family: 'Tulpen one', cursive;
    font-size: 2.500em; }
    .link a:hover {
      color: #804A11; }

.m-header {
  text-align: center; }
  .m-header h1 {
    color: #36151E;
    padding-bottom: 0.5em; }
  .m-header h4 {
    color: #660000;
    line-height: 1.5em;
    font-family: 'Yellowtail', cursive;
    font-size: 1.875em; }

.graphboxythingy {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.2em; }
  .graphboxythingy .column {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .graphboxythingy .column .box {
      width: 18.97em;
      height: 18.97em;
      background-color: #247BA0;
      border: 2px solid #EBBAB9; }
      .graphboxythingy .column .box img {
        height: 100%;
        width: 100%; }
    .graphboxythingy .column #vice, .graphboxythingy .column #alive, .graphboxythingy .column #runthisplace {
      background-image: url("../img/Vice - EP.png");
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: #FFF100;
      text-shadow: 2px 2px 2px black; }
      .graphboxythingy .column #vice p, .graphboxythingy .column #alive p, .graphboxythingy .column #runthisplace p {
        font-size: 1.3em; }

/*# sourceMappingURL=main.css.map */
