#a-wrapper {
  background-color: $dark-purple;
}

#a-mobile-nav {
  @include mobilenav;
  background-color: $licorice;
  a {
    color: $android-green;
  }
}

#a-nav {
  @include nav;
  background-color: $dark-purple;
  a {
    color: $gainsboro;
    &:hover {
      color: $android-green;
    }
  }
}

#a-header {
@include artist-header;
  color: $gainsboro;
}

#a-content {
  @include content;
  color: $gainsboro;

}
