#ch-wrapper {
  background-color: $liberty;
}

#ch-mobile-nav {
  @include mobilenav;
  background-color: $eerie-black;
  a {
    color: $liberty;
  }
}

#ch-nav {
  @include nav;
  background-color: $liberty;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

#ch-header {
  @include artist-header;
  color: white;
}

#ch-content {
  @include content;
  color: white;
}
