#f-wrapper {
  background-color: $van-dyke-brown;
}

#f-mobile-nav {
  @include mobilenav;
  background-color: $dark-purple;
  a {
    color: $carmine-pink;
  }
}

#f-nav {
  @include nav;
  background-color: $van-dyke-brown;
  a {
    color: $manatee;
    &:hover {
      color: $carmine-pink;
    }
  }
}

#f-header {
@include artist-header;
  color: $manatee;
}

#f-content {
  @include content;
  color: $manatee;
  #tove-lo {
    float: right;
    margin: 1em 0 1em 1.2em;
  }
}
