#kamasi-wrapper {
  background-color: #976023;
}

.k-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #261603;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #F3E9DC;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive;
    &:hover, &:active {
      color: #976023;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}

#k-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #976023;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  a {
    font-family: 'Satisfy', cursive;
    color: #261603;
    text-decoration: none;
    &:hover {
      color: steelblue;
    }
  }
  @media screen and (max-width: 524px) {
  display: none;
  height: 0;
  width: 0;
  }
}

.artist-header {
  margin: 5em 0 0 3em;
  h2 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #261603;
    margin-bottom: .2em;
  }
  .artist-sub {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    font-weight: 700;
    color: #261603;
    margin-bottom: .2em;

  }
  h3 {
    color: #261603;
    margin-bottom: .3em;
    font-family: 'Cinzel', serif;
    font-weight: 400;
  }
  .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 525px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
}
