#kamasi-wrapper {
  background-color: $tan;
  height: 100vh;
}

.k-sidenav {
  @include mobilenav;
  background-color: $brown;
  a {
    color: $tan;
  }
}

#k-nav {
  @include nav;
  background-color: $tan;
  a {
    color: $brown;
    &:hover {
      color: steelblue;
    }
  }
  @media screen and (max-width: 524px) {
  display: none;
  height: 0;
  width: 0;
  }
}

.artist-header {
  margin: $a-header;
  color: $brown;
  @include artist;
  .song {
    @include song;
  }
  .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 525px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
}

.content {
  height: auto;
  margin: $content;
  color: $brown;
  img {
    @include artist-img;
  }
}
