#kamasi-wrapper {
  background-color: #976023;
  height: 100vh;
}

.k-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $brown;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #F3E9DC;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive;
    &:hover, &:active {
      color: $tan;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}

#k-nav {
  @include nav;
  background-color: $tan;
  a {
    color: $brown;
  }
  @media screen and (max-width: 524px) {
  display: none;
  height: 0;
  width: 0;
  }
}

.artist-header {
  margin: $a-header;
  color: $brown;
  @include artist;
  .song {
    @include song;
  }
  .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 525px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
}

.content {
  height: auto;
  margin: $content;
  color: $brown;
  img {
    @include artist-img;
  }
}
