#kl-wrapper {
  background-color: $antique-ruby;
}

#kl-mobile-nav {
  @include mobilenav;
  background-color: black;
  a {
    color: $antique-ruby;
  }
}

#kl-nav {
  @include nav;
  background-color: $antique-ruby;
  a {
    color: $alabaster;
    &:hover {
      color: $japanese-indigo;
    }
  }
}

#kl-header {
  @include artist-header;
  color: $alabaster;
}

#kl-content {
  @include content;
  color: $alabaster;
  #pharrell {
    @include feat-artist;
    width: 20vw;
  }
}
