#kl-wrapper {
  background-color: $dark-green;
}

#kl-mobile-nav {
  @include mobilenav;
  background-color: $copper;
  a {
    color: $dark-green;
  }
}

#kl-nav {
  @include nav;
  background-color: $dark-green;
  a {
    color: $green-sheen;
    &:hover {
      color: $copper;
    }
  }
}

#kl-header {
  @include artist-header;
  color: $green-sheen;
  // #zauberflote {
  //   @include long-song;
  //   line-height: 1.2em;
  // }
}

#kl-content {
  @include content;
  color: $green-sheen;
  #pharrell {
    @include feat-artist;
    width: 20vw;
  }
}
