.wrapper {
  background-color: #B3DEAF;
  }

  #maya-nav {
    @include nav;
    background-color: #B3DEAF;
    a {
      color: #660000;
      &:hover {
        color: #17BEBB;
      }
    }
    @media screen and (max-width: 524px) {
    display: none;
    height: 0;
    width: 0;
    }
  }

.link {
  padding: 2em 0 0 2em;
  a {
    color: #52238C;
    text-decoration: none;
    font-family: serif;
    font-size: 1.3em;
    font-family: 'Tulpen one', cursive;
    font-size: 2.500em;
    &:hover{
      color:#804A11;
    }
  }
}

.m-header {
  text-align: center;
  h1 {
    color: #36151E;
    padding-bottom: 0.5em;
    font-family: 'Unkempt', cursive;
    }
  h4 {
    color: #660000;
    line-height: 1.5em;
    font-family: 'Yellowtail', cursive;
    font-size: 1.875em;

  }
}

.graphboxythingy{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.2em;
  .column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .box{
      width: 18.97em;
      height: 18.97em;
      background-color: #247BA0;
      border: 2px solid #EBBAB9;
      img {
        height: 100%;
        width: 100%;
      }
    }
    #vice, #alive {
      background-image: url('../img/Vice - EP.png');
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: #FFF100;
      text-shadow: 2px 2px 2px black;
      p {
        font-size: 1.3em;
      }
    }
    #runthisplace {
      background-image: url('../img/Run this place - single.png');
      background-position: center;
      background-size: cover;
      border: 2px solid #E61422;
      color: #FFF100;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      p {
        font-size: 1.3em;
      }
      #youtube1 #youtube2 {
        color: #FFF100;
        text-shadow: 2px 2px 2px black;
        height: 100%;
        width: 100%;
    }
    }
  }
}
.cat {
  color: #473AAA;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  p {
   font-family: 'Yellowtail', cursive;
  }
}
