//Mixins//

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url("../fonts/#{$file}.ttf");
  }
}

@mixin artist {
  margin: 5em 0 0 3em;
  h2 {
    font-family: 'Sports Mill Goudy', serif;
    margin-bottom: .2em;
    font-size: 1.75em;
    color: #261603;
  }
}


@mixin song {
  font-family: 'Raleway', sans-serif;
  margin-bottom: .2em;
  font-size: 1.75em;
  color: #261603;
  span {
    font-weight: 300;
    font-size: .6em;
    em {
      font-style: italic;
    }
  }
}
