//Mixins//

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url("../fonts/#{$file}.ttf");
  }
}

@mixin artist {
  h2 {
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .2em;
  }
}


@mixin song {
  font-family: 'Raleway', sans-serif;
  margin-bottom: .2em;
  font-size: 1.75em;
  span {
    font-weight: 300;
    font-size: .6em;
    em {
      font-style: italic;
    }
  }
}

@mixin artist-img {
  height: auto;
  width: 20%;
  float: left;
  margin-right: 1.5em;
  border-radius: 2px;
}

@mixin mobilenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Satisfy', cursive;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}

@mixin nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 3em 3em 0;
  a {
    font-family: 'Satisfy', cursive;
    text-decoration: none;
  }
}
