//Variables//

//Margins//
$a-header: 5em 0 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//Colors//
$brown: #261603;
$tan: #976023;
$cornflower: #7392FE;
$smoky-black: #0A0509;
$opera-mauve: #AC80A0;
$cg-red: #DF3538;
$rich-black: #030726;
$rackley: #5F829C;
$byzantine: #B94399;
$registration: #010101;
$spanish-gray: #9999A1;
$med-blue: #0200C2;
$pale-taupe: #C89682;
$prussian-blue: #003049;
$coral-reef: #F37767;
$dark-cerulean: #1F487E;
$van-dyke-brown: #63372C;
$manatee: #999BAA;
$carmine-pink: #F04E56;
$dark-purple: #2D232E;
$queen-pink: #EACBD2;
$dark-lavender: #6E448E;
$old-burgundy: #442B48;
$princeton-orange: #FB8B24;
$licorice: #120F11;
$smoky-topaz: #90280C;
$cinereous: #92817A;
$dutch-white: #F1DABF;
