//Variables//

//Margins//
$a-header: 5em 0 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//Colors//
$brown: #261603;
$tan: #976023;
$cornflower: #7392FE;
$smoky-black: #0A0509;
$opera-mauve: #AC80A0;
$rich-black: #030726;
$rackley: #5F829C;
$byzantine: #B94399;
